<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/test.css">

    <title>
        Forecast Scraping
    </title>
</head>

<body>
    <h3>
        Forecast Scraping
    </h3>
    <p>
        Please insert the coordinates:<br>
    <form action="/forecast" method="post">
        Latitude: <input type="text" name="lat"> <br />
        Longitude: <input type="text" name="long" />
        <input type="submit" name="form" value="Submit" />
    </form>
    </p>>

</body>

</html>